.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    color: white;
    z-index: 1000;
}
.logo {
    display: flex;
    align-items: center;
}
.headerInner {
    width: 1600px;
    margin: 0 auto;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navigation {
    display: flex;
    gap: 32px;
    div {
        color: #8A8A8A;
        cursor: pointer;
    }
}
.profile {
    display: flex;
    align-items: center;
    gap: 8px;
}
.profilePhoto {
    border-radius: 50%;
}